USE [master]
GO
/****** Object:  Database [Library]    Script Date: 21.03.2022 17:53:47 ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Users\harun.aka\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Users\harun.aka\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 21.03.2022 17:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CurrencyId] [varchar](50) NOT NULL,
	[FirstWeekendDayOfWeek] [int] NOT NULL,
	[SecondWeekendDayOfWeek] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 21.03.2022 17:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Code] [nvarchar](1) NOT NULL,
	[Value] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NonBusinessDays]    Script Date: 21.03.2022 17:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NonBusinessDays](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[NonBusinessDayStart] [datetime] NOT NULL,
	[NonBusinessDayEnd] [datetime] NOT NULL,
	[CountryId] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
